.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  margin: auto;
}
.timer-shell {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: 1px solid black;
}
